/* تنظیمات عمومی برای موبایل و تبلت */
@media (max-width: 768px) {
    body {
        font-size: 14px;
    }

    .custom-header {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .logo a {
        font-size: 24px;
    }

    .navbar ul {
        flex-direction: column;
        width: 100%;
        text-align: center;
    }

    .navbar li {
        margin: 10px 0;
    }

    .navbar a {
        padding: 10px 15px;
    }

    main {
        padding: 10px;
        margin: 0;
    }

    .product-container {
        flex-direction: column;
        align-items: center;
    }

    .box {
        flex: 1 1 100%;
        margin: 10px 0;
        padding: 20px;
    }

    .testimonial-container, .article-container, .gallery-container {
        flex-direction: column;
        align-items: center;
    }

    .testimonial-box, .article-box, .gallery-box {
        flex: 1 1 100%;
        margin: 10px 0;
        padding: 20px;
    }
}

/* تنظیمات برای نمایشگرهای متوسط */
@media (min-width: 769px) and (max-width: 1024px) {
    body {
        font-size: 16px;
    }

    .logo a {
        font-size: 24px;
    }

    .navbar ul {
        flex-direction: row;
    }

    .navbar li {
        margin: 5px 10px;
    }

    .box {
        flex: 1 1 calc(50% - 20px);
    }

    .testimonial-box, .article-box, .gallery-box {
        flex: 1 1 calc(50% - 20px);
    }
}

/* تنظیمات برای نمایشگرهای بزرگ */
@media (min-width: 1025px) {
    body {
        font-size: 18px;
    }

    .box {
        flex: 1 1 calc(30% - 20px);
    }

    .testimonial-box, .article-box, .gallery-box {
        flex: 1 1 calc(30% - 20px);
    }
}
