/* تنظیمات عمومی برای موبایل و تبلت */
@media (max-width: 768px) {
    body {
        font-size: 14px;
        padding: 0 10px; /* اضافه کردن پدینگ برای بهبود نمایش در موبایل */
    }

    .custom-header {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .logo a {
        font-size: 24px;
        margin-bottom: 10px; /* فاصله بین لوگو و منو */
    }

    .navbar ul {
        flex-direction: column;
        width: 100%;
        text-align: center;
    }

    .navbar li {
        margin: 10px 0;
    }

    .navbar a {
        padding: 10px 15px;
    }

    main {
        padding: 10px;
        margin: 0;
    }

    .product-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* گرید دو ستونه برای محصولات */
        gap: 10px;
    }

    .box {
        margin: 10px 0;
        padding: 20px;
        border: 1px solid #ffffff;
        border-radius: 10px;
    }

    .testimonial-container, .article-container, .gallery-container {
        display: grid;
        grid-template-columns: 1fr; /* گرید تک ستونه برای نظرات، مقالات و گالری */
        gap: 10px;
    }

    .testimonial-box, .article-box, .gallery-box {
        margin: 10px 0;
        padding: 20px;
        border: 1px solid #ffffff;
        border-radius: 10px;
    }
}

/* تنظیمات برای نمایشگرهای متوسط */
@media (min-width: 769px) and (max-width: 1024px) {
    body {
        font-size: 16px;
    }

    .logo a {
        font-size: 24px;
    }

    .navbar ul {
        flex-direction: row;
    }

    .navbar li {
        margin: 5px 10px;
    }

    .product-container {
        grid-template-columns: repeat(2, 1fr); /* گرید دو ستونه برای محصولات */
    }

    .box {
        flex: 1 1 calc(50% - 20px);
    }

    .testimonial-container, .article-container, .gallery-container {
        grid-template-columns: repeat(2, 1fr); /* گرید دو ستونه برای نظرات، مقالات و گالری */
    }

    .testimonial-box, .article-box, .gallery-box {
        flex: 1 1 calc(50% - 20px);
    }
}

/* تنظیمات برای نمایشگرهای بزرگ */
@media (min-width: 1025px) {
    body {
        font-size: 18px;
    }

    .product-container {
        grid-template-columns: repeat(3, 1fr); /* گرید سه ستونه برای محصولات */
    }

    .testimonial-container, .article-container, .gallery-container {
        grid-template-columns: repeat(3, 1fr); /* گرید سه ستونه برای نظرات، مقالات و گالری */
    }

    .box, .testimonial-box, .article-box, .gallery-box {
        flex: 1 1 calc(30% - 20px);
    }
}
