        body {
            background-color: #111418;
            color: #f9fafb;
            transition: background-color 0.3s, color 0.3s;
        }
        .fade-in {
            animation: fadeIn 1s ease-in-out;
        }
        @keyframes fadeIn {
            from { opacity: 0; }
            to { opacity: 1; }
        }
        .card {
            background-color: #1e1e1f;
            border-radius: 12px;
            padding: 20px;
            box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
        }
        .project-image {
            width: 100%;
            height: auto;
            border-radius: 12px;
        }
        .hover-effect:hover {
            transform: scale(1.05);
            transition: transform 0.3s;
        }
        .contact-form {
            color: black;
            background-color: #4b5563;
            border-radius: 12px;
            padding: 20px;
            box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
        }
        .carousel {
            position: relative;
            overflow: hidden;
        }
        .carousel-inner {
            display: flex;
            transition: transform 0.5s ease;
        }
        .carousel-item {
            min-width: 100%;
            transition: opacity 0.5s ease;
        }
